@import url("@/public/font/stylesheet.css");
/* font-family: "AvertaStd-Extrathin"; */
/* font-family: "AvertaStd-ExtrathinItalic"; */
:root {
  --light: #ffffff;
  --lightHover: #ffffffaa;
  --dark: #3c4852;
  --darkHover: #3c4852aa;
  --secondary: #c0c5c6;
  --secondaryHover: #c0c5c6aa;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "AvertaStd";
}
.grid_div {
  width: 100%;
  /* border: 2px solid #76b7c6; */
  margin: 1rem auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
